img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.emoji {
  width: 100%;
  max-width: 100%;
  box-shadow: rgba(60, 64, 67, 0.5) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.25) 0px 1px 3px 1px;
  border-radius: 4px;
  cursor: pointer;
  padding: 5%;
}

.emoji-front {
  opacity: 0.4;
}

.emoji-container {
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
  text-align: center;
  /* height: 100px; */
  /* margin-bottom: 3%; */
}

.emoji-container:hover {
  animation: pop 0.3s linear 1;
}

@keyframes pop {
  50% {
    transform: scale(1.2);
  }
}

.card {
  position: relative;
  width: 90%;
  height: 7rem;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  /* line-height: 260px; */
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card__face--back {
  transform: rotateY(180deg);
}

.do-not-click {
  pointer-events: none;
}

@media (min-width: 455px) and (max-width: 992px) {
  .card {
    height: 10rem;
  }
}
